*{
    padding: 0px;
    margin: 0px;
}
.header{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
li{
    color: gray;
    padding: 2px;
    display: inline;
    cursor: pointer;
}
ul{
    padding: 15px;
}
li:hover{
    color: white;
    
}
.box{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 300px;
    display: inline-block;
    cursor: pointer;
}
.products{
    text-align: center;
    margin: 50px;
}
.dark{
    background-color: black;
    color: rgb(193, 193, 193);
    display: inline;
    padding: 2px;
    cursor: pointer;
}
.dark:hover{
    color: white;
}
.contact{
    background-color: black;
    color: white;
}
.p1{
    background-color: yellow;
    color: black;
    margin: 10px;
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 2px;
}